In [1]:
import os
import re
import json
import tqdm
import numpy as np
import ray
from transformers import GPT2Tokenizer
import openai
import ast
import time

In [2]:
class RedundantParenthesesRemover(ast.NodeTransformer):
    def visit_Expr(self, node):
        self.generic_visit(node)
        if isinstance(node.value, ast.BinOp):
            return node.value
        return node

def remove_redundant_parentheses(expression):
    # Parse the expression
    parsed_expression = ast.parse(expression)

    # Remove redundant parentheses
    transformer = RedundantParenthesesRemover()
    transformed_expression = transformer.visit(parsed_expression)

    # Convert the transformed expression back to a string
    simplified_expression = ast.unparse(transformed_expression)

    return simplified_expression
    
def divide(a, b):
    return f"({a} / {b})"

def subtract(a, b):
    return f"({a} - {b})"

def multiply(a, b):
    return f"({a} * {b})"

def add(a, b):
    return f"({a} + {b})"

def exp(a, b):
    return f"({a} ** {b})"

def greater(a, b):
    return f"({a} > {b})"

def translate_expr(expr):
    if "table" in expr:
        return expr
    
    # replace const_m1
    expr = re.sub(r'const_m1', r'-1', expr)

    # change % to / 100
    expr = re.sub(r'([0-9]*\.?[0-9]+)%', r'divide(\1 , 100)', expr)
    
    expr = re.sub(r'const_([0-9]*\.?[0-9]+)', r'\1', expr)
    try:
        new_expr = eval(expr)
        new_expr = remove_redundant_parentheses(new_expr)
    except Exception as e:
        print(e, expr)
        new_expr = expr
    
    return new_expr

def convert_to_markdown(data):
    markdown = "|"
    
    # Add table headers
    for header in data[0]:
        markdown += header + "|"
    markdown += "\n|"
    
    # Add table header separators
    for _ in data[0]:
        markdown += "---|"
    markdown += "\n"
    
    # Add table rows
    for row in data[1:]:
        markdown += "|"
        for cell in row:
            markdown += cell + "|"
        markdown += "\n"
        
    return markdown

def extract_answer(response):
    # extract content inside Calculate()
    matches = re.findall(r"Calculate\(([\(\)0-9 ><,\.\/\+\-\*]*)\)", response)
    if len(matches) == 0:
        if "Yes" in response:
            return "Yes"
        elif "No" in response:
            return "No"
        else:
            return ""
    else:
        output = matches[0].replace(",", "")
        return output
    
def if_exec_correct(t_prog, g_prog):
    try:
        t_exec = eval(t_prog)

        if type(t_exec) == bool and g_prog in ["Yes", "No"]:
            t_exec = "Yes" if t_exec else "No"

            if t_exec == g_prog:
                return True
            
        g_exec = eval(g_prog)

        if t_exec == g_exec:
            return True
        elif t_exec * 100 == g_exec:
            return True
        elif t_exec * 100 == -g_exec:
            return True
        elif t_exec == g_exec * 100:
            return True
        elif t_exec == -g_exec * 100:
            return True
        elif t_exec * 1000000 == g_exec:
            return True
        elif t_exec * 1000000 == -g_exec:
            return True
        elif t_exec == g_exec * 1000000:
            return True
        elif t_exec == -g_exec * 1000000:
            return True
        elif t_exec == -g_exec:
            return True
    except:
        return False

    return False

In [3]:
system_prompt = (
                "You need to answer the user's question in the ### Question ### section.\n" \
                "You need to provide the answer in the format 'Calculate(a + b)', where the expression needs to be python excutable." \
                # "You can calculate the average of a column by using the function 'Average(table_column_name)'.\n" \
                # "Similarly, you can calculate the sum, the maximum, the minimum, the count of a column by using the functions "\
                # "'Sum(table_column_name)', 'Max(table_column_name)', 'Min(table_column_name)', 'Count(table_column_name)' respectively.\n" \
                # "You only use the table's column name inside those operations\n" \
                "For example, if the question is 'What is the sum of 1 + 2?', you need to answer 'Calc(1 + 2)'." \
                "if the question is 'Is 123 greater than 231?', you need to answer 'Calc(123 > 231)'." \
                # "|Age|\n|---|\n|12|\n|15|\n|16|\n\n What is the average age? The answer is 'Calculate(Average(Age))'" \
                "DO NOT give anything else other than'Calculate()'."
                )

In [4]:
user_example1 = '### Context ###\n\ndebt maturities 2013 the following table presents aggregate debt maturities as of december 31 , 2007 , excluding market value adjustments .\nmillions of dollars .\n\n|2008|$ 689|\n|---|---|\n|2009|542|\n|2010|462|\n|2011|550|\n|2012|720|\n|Thereafter|4,717|\n|Total debt|$ 7,680|\n\n\nat december 31 , 2007 , we reclassified as long-term debt approximately $ 550 million of debt due within one year that we intend to refinance .\nthis reclassification reflected our ability and intent to refinance any short- term borrowings and certain current maturities of long-term debt on a long-term basis .\nat december 31 , 2006 , we did not reclassify any short-term debt as long-term debt as we did not intend to refinance at that mortgaged properties 2013 equipment with a carrying value of approximately $ 2.8 billion at both december 31 , 2007 and 2006 serves as collateral for capital leases and other types of equipment obligations in accordance with the secured financing arrangements utilized to acquire such railroad equipment .\nas a result of the merger of missouri pacific railroad company ( mprr ) with and into uprr on january 1 , 1997 , and pursuant to the underlying indentures for the mprr mortgage bonds , uprr must maintain the same value of assets after the merger in order to comply with the security requirements of the mortgage bonds .\nas of the merger date , the value of the mprr assets that secured the mortgage bonds was approximately $ 6.0 billion .\nin accordance with the terms of the indentures , this collateral value must be maintained during the entire term of the mortgage bonds irrespective of the outstanding balance of such bonds .\ncredit facilities 2013 on december 31 , 2007 , $ 1.9 billion of credit was available under our revolving credit facility ( the facility ) , which we entered into on april 20 , 2007 .\nthe facility is designated for general corporate purposes and supports the issuance of commercial paper .\nwe did not draw on the facility during 2007 .\ncommitment fees and interest rates payable under the facility are similar to fees and rates available to comparably rated , investment-grade borrowers .\nthe facility allows for borrowings at floating rates based on london interbank offered rates , plus a spread , depending upon our senior unsecured debt ratings .\nthe facility requires the maintenance of a debt to net worth coverage ratio .\nat december 31 , 2007 , we were in compliance with this covenant .\nthe facility does not include any other financial restrictions , credit rating triggers ( other than rating-dependent pricing ) , or any other provision that could require us to post collateral .\nthe facility , which expires in april 2012 , replaced two $ 1 billion , 5-year facilities with terms ending in march 2009 and march 2010 .\nthe facility includes terms that are comparable with those of the prior facilities , although the minimum net worth requirement of $ 7.5 billion in prior facilities was removed , and the facility includes a change-of-control provision .\nin addition to our revolving credit facility , a $ 75 million uncommitted line of credit was available .\nthe line of credit expires in april 2008 , and was not used in 2007 .\nwe must have equivalent credit available under our five-year facility to draw on this $ 75 million line .\ndividend restrictions 2013 our revolving credit facility includes a debt-to-net worth covenant that , under certain circumstances , would restrict the payment of cash dividends to our shareholders .\nthe amount of retained earnings available for dividends was $ 11.5 billion and $ 7.8 billion at december 31 , 2007 and december 31 , 2006 , respectively .\nthis facility replaced two credit facilities that had minimum net worth covenants that were more restrictive with respect to the amount of retained earnings available for dividends at december 31 , 2006. .\n\n### Question ###\n\nwhat percentage of total debt is due after 2012?'
assistant_example1 = "Calculate(4717 / 7680)"

In [7]:
# @ray.remote
def  get_responses(rank, model_name, data):
    openai.api_key = "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"
    responses = []

    if rank == 0:
        data = tqdm.tqdm(data)
    else:
        data = data

    for item in data:
        table_md = convert_to_markdown(item["table_ori"])
        question = item["qa"]["question"]
        
        pre_text = "\n".join(item["pre_text"])
        post_text = "\n".join(item["post_text"])
        
        user_prompt = f"### Context ###\n\n{pre_text}\n\n{table_md}\n\n{post_text}\n\n### Question ###\n\n{question}"

        messages = [{"role": "system", 
                    "content": system_prompt
                    },
                    {"role": "user",
                    "content": user_example1,
                    },
                    {"role": "assistant",
                    "content": assistant_example1
                    }
                    ]

        messages.append({"role": "user", "content": user_prompt})


        success = False
        while not success:
            try:
                completion = openai.ChatCompletion.create(model=model_name, 
                                                        messages=messages,
                                                        top_p=0.9,
                                                        temperature=0.3,)
                success = True
            except Exception as e:
                print(e)
                time.sleep(1)
        
        result = completion.choices[0].message.content
        
        responses.append(result)
    
    return responses

In [6]:
filepath = "../FinQA/dataset/test.json"

with open(filepath) as f:
    data = json.load(f)

programs = []
translated_programs = []
answers = []

for item in tqdm.tqdm(data):
    table_md = convert_to_markdown(item["table_ori"])
    question = item["qa"]["question"]
    
    pre_text = "\n".join(item["pre_text"])
    post_text = "\n".join(item["post_text"])

    programs.append(item["qa"]["program_re"])
    translated_programs.append(translate_expr(item["qa"]["program_re"]))
    answers.append(item["qa"]["answer"])

100%|██████████| 1147/1147 [00:00<00:00, 13594.74it/s]

In [7]:
# responses = get_responses(0, data)

In [21]:
with open("results/gpt-3.5.json") as f:
    responses = json.load(f)
    responses = responses["responses"]

In [22]:
with open("results/gpt-4.json") as f:
    redo_responses = json.load(f)
    # responses = responses["responses"]
    wrong_indices = redo_responses["wrong_indices"]
    redo_responses = redo_responses["responses"]

In [23]:
for i in range(len(redo_responses)):
    responses[wrong_indices[i]] = redo_responses[i]

In [25]:
gen_programs = []

for response in responses:
    gen_programs.append(extract_answer(response))

In [26]:
# calculate accuracy
prog_correct = 0
exec_correct = 0

# wrong_indices = []

for i in range(len(translated_programs)):
    t_prog = translated_programs[i].replace(" ", "")
    g_prog = gen_programs[i].replace(" ", "")

    if t_prog == g_prog:
        prog_correct += 1

    if if_exec_correct(t_prog, g_prog):
        exec_correct += 1
    else:
        # wrong_indices.append(i)
        print(i, t_prog, "|", g_prog)

4 (318.46-100)/100-(206.49-100)/100 | (318.46-206.49)/206.49
5 (92710000-86842000)/86842000 | (100690000-92710000)/92710000
15 table_average(netchangefortheyear,none) | (4648+3625+1620)/3
17 (703.1+705.4+2)/2 | (705.4+703.1)/2
20 (772-843)/843 |
21 (311.81-100)/100-(198.18-100)/100 | 311.81-198.18
22 (101.88-93.21)/93.21 | (101.88-93.21)/101.88
28 0.6+0.5+4.7 | 0.5+0.6+4.7+0.6+0.2+0.2
29 3500/3081 | 3081/(150+175+2756)
32 table_max(provisionforincometaxes,none) |
34 61912-367 | 51052-367
35 168-56 | 224-56
36 165000/254000 | (254000-165000)/254000
37 166000/219000 | (219000-166000)/219000
41 (248.36-100)/100-(236.2-100)/100 | (248.36-236.20)/236.20
48 10.4/61.4*100 | 10354/61400
51 2.3/0.5 | 19.3/0.5
59 411636+439000 | (411636+439000+556000)/3
75 11.02/9.52/9.52 | (11.02-9.52)/9.52
79 207.62/97.13 | 207.62-97.13
80 207.62-97.13 | 207.62-107.76
81 37/1.4 | 37*(1-(1/1.4))
84 (1.11+1.08)/1.08 | (1.11-1.08)/1.08
92 table_average(operatingincome,none) | (762.6+808.4+895.2)/3
99 7532/180993 | 180993/158578
103 (713*42-762*41)/(762*41) | (713*42-762*42)/(762*42)
105 table_average(endingbalance,none) | (167142+466421+383221)/3
106 945.5/(1.4*1000) | 945.5/1366
108 242/(9/100) | 242/1.09
114 table_sum(worldwide,none) | (586+3057+236)/3
116 table_sum(total,none) | 619+1782+10527+8026+3828+3465+562
118 (37.79-31.16)/31.16 | 37.79-24.19
120 53818+-36528+157 | 53818-36528
122 327/184/327 | 327-184
124 ((208.14-100)/100)**(1/5)-1 | (208.14/100)**(1/5)-1
139 2098*(2098/2014) | 2098+(2098-2014)
144 5829+(187+95) | 5829-187-95
150 1336/42546 | 1336
151 100000/100*(138.29-100) | 100000*138.29/100
152 (4-3.9)/4*100 | (4000-3900)/4000
157 126+111+112 | (126+111+112)/1178
159 100/3 | 10
160 110000000+10000000 | 1939734
168 table_max(tier2capital,none) |
170 4.9*-1/3.7 | (-3.7-(-3.5))/(-3.5)
172 table_min(cashinstruments,none) | 15395
174 table_sum(otherafrica,none) | 2.605
178 table_sum(distillates,none) | (365+346+345)*1000
183 128.16/100 | (128.16-100)/100
185 (180993-118314)/118314 | 180993-158578
186 44.11-39.03 | (44.11-39.03)/39.03
189 table_average(operatingprofit,none) | (1344+1282+1018)/3
191 11*33.32-13*26.93 | (33.32-26.93)*11
192 151945*24.61 | 151945
204 (500.0-240.9)/240.9 | (250-250)/250
210 11.8/146.1 |
212 8.75/6.91*8.75 | 8.75*1.25
213 200-50 | 50200
216 41.9-4.8 | 41.9+27.5+16.1+24.4+4.8
217 5080/(45708+4800) | 5080/45708
220 table_average(totalassets,none) | (911507+938555)/2
231 (31-24)/24 | (24-31)/31
234 707-48.87 | 707*48.87
260 (-5205--1636)/-1636 | (1636-5205)/5205
263 (108.7+138.0+127.1-127.1)/127.1 | (127.1+70.4)/127.1
264 table_max(provisionforcreditlosses,none) |
265 163000/57800/163000 | (163000-57100)/163000
268 table_max(ultimatetrendrate,none) |
270 (107-66)/66 | 107/66
278 19/(63+81) | 19/(57+26+22+19+9+8+7+63+81)
280 4.6>29.0 | 4600000>2900000
281 384102+121417-(381415+65439) | 384102-381415
298 ((73+(104+61))/2+3)/2 | (104+61+73)/3
306 13.3+5.4 | 6.324+10.580
313 8/2-1 | 8-2
316 ((370.32-100)/100)**(1/5)-1 | (370.32/100)**(1/5)-1
324 (100690000-92710000)/92710000 |
328 (4.5-4.25)*400.0*1000000 | (0.045-0.0425)*400
330 7327-20963 | -12389-1743
335 table_average(initialhealthcaretrendrate,none) | (8.00+8.25+8.00)/3
339 (28.8-30.3)/30.3 | (26.2-30.3)/30.3
341 1.3/804 | 1300/804
343 (177.79-100)**(1/5-1)-1 | ((177.79/100)**(1/5))-1
347 table_sum(vestedduringtheyear,none) | 66299+153644+420050
348 60.6-100/22 | 61.018*100/22
356 2327.2/12988.7 | (2327.2/13981.9)
360 17057.4-16772.9 | (17057.4-16772.9)/16772.9
361 2.6/(35/100) | 2.6/(1-(-0.608))
362 242/(242+177947) | 242/177947
369 100000/100*(118.21-100) | 100000*118.21/100
379 32.73/(1+6/100) | 32.73*(1-0.06)
381 665-2239-2239 | (823-2397)/2397
384 2.9/900.1 | 2900/900.1
385 59.7-79.0 | 79975-59677
389 8985-11057 | (8985-11057)/11057
391 153258/86080 | (107061+153258)/86080
395 table_min(collateralposted,none) | 1817824296
399 750/500*100 | (500+750)/11664
400 35.0/100-24.4/100 | 35.0-24.4
401 7.7-19.6 |
402 63/(63+81) | 219/(219+81)
403 0.6+0.1 | 0.6+0.1+0.1
411 70/53-1 | (70-53)/53
412 table_max(foreigncurrencytranslation,none) | -61.1
424 table_sum(total,none) | 2365+2500+2538
430 46.7-38.9-38.9 | (46.7-38.9)/38.9
432 (1.6-1.2)/1.2 |
436 3671500/132038 | 3671500
441 30+1 | -23
442 9.45/(1+23/100) | 7.66
443 1.7*100/7.75 | 47.0/0.0775
446 100/40 | 3
450 8.0/100-4.7/100 | 8.00-4.70
453 100/10 | 3
459 4630/46780 | 4630/51410
460 5.5/100+70.6/100 | 70.6-5.5
461 (800+700+192)/(800+700+300) | 800+700+192
470 table_max(derivatives,none) |
472 76.0+(1.3+2)/2 | 76.0-((1.3+2.0)/2)
483 1-5687/6275 | (6275-5687)/6275
485 (1.2-2.2)/1.2 | (2200-1201)/1201
486 197/227 | 197/224
498 table_max(netderivativeliabilitiesunderbilateralagreements,none) | 35866
499 table_max(netderivativeliabilitiesunderbilateralagreements,none) | 2217627885
502 (2.2-4.1)/4.1 | 4.1-2.2
503 (195237-177947)/177947 | 195237-177947
504 64/54 | 54/64
507 829*(29/100) | 829
509 26.8/100-21.9/100 | (26.8-21.9)/21.9
517 174335/(17984+2248) | 174335/17984
525 (325.1-400.0)/400.0 | (400000-325100)/400000
528 (11589+(50131+(23596+63003))+4)/2 | 11.589+50.131+63.003+23.596
531 10/9 | 10-9
548 (104-87)/87 | (104-87)/104
553 3.87/100*(3.87/100/(2.56/100)) | 3.87+(3.87-2.56)
556 9*1000000/411636 | 40/0.411636
564 10919/(7*1000) | (-799)/7000
570 6882/70842 | 77724/70842
574 table_average(structuredcommercialloanvehicles,none) | (5.3+7.2)/2
578 209/191/191 | (209-191)/191
579 (2.6-2.2)/2.2 | 2200/2600
588 table_average(liabilities,none) | (1824+250+319)/3
594 (320-271)/271 | 367
599 126.6/70.5-1-(214.4/126.6-1) | (214.4-126.6)-(126.6-70.5)
601 5.8+6.3 | 6.3-5.8
602 74360+46961 | (7436046961)
609 53.8*5576208/1000000 |
612 table_average(endofyear,none) | (6469+6001+5441)/3
615 (109.8-1000000)/2616618 | 109800000/2616618
617 4.25/3.71-1 | 4.25-3.71
619 table_average(netsales,none) | (8630.9+7630.0+6710.4)/3
627 (7729*(21/100)-5038*(14/100))/(5038*(14/100)) | (7729-5038)/5038
628 180+291 | 291>180
631 35/100-32.9/100 | 32.9-35
632 36.3/100-32.9/100 | 36.3-32.9
633 24/15-1 | (24-15)/15
636 13.4/14.7 | 8.0/13.4
641 (119-86+86)/2 | (119-86)/86
642 177.26-151.16-151.16 | (177.26-151.16)/151.16
660 760000*1000*(7.458/100) |
666 (29.26-24.57)/24.57 | 29.26-19.78
668 1-89/99 | (99-89)/99
670 (500.0-240.9)/240.9 | (240.9-250)/250
672 2229188*100/2.5 | 2.50/100*2229188
678 259.5+0.2 | (218.8+40.7)/802.6
687 12300+17000+2800+47800 | 12300+17000+2800
706 27+37 | 27+37+14
708 (54+58+54)/3 | (13+32+31)/3
709 19733/61535 | 19733/213520
710 table_average(netunrealizedinvestmentgains,none) | (76+73+52)/3
713 (145095+(56616+217692)+3)/2 | (56616+217692+145095)/3
714 932*0.44 | 932
726 2690/18988 | 2690/28383
729 table_sum(asphalt,none) | (74+75+78)*365/1000
730 480*(27/100) | 480
734 (28114-31947)/31947 | (107551-28114)/28114
745 200*1000000*(7.375/100) | 7.375
750 43.9*1000000 | 43900000>5754000
759 (9.6-8.7)/8.7 | (9.6-8.7)/9.6
762 100.8-9.0 | 9.0
763 table_sum(developmentcostsincurredduringtheperiod,none) | 1899+2546+2786
766 divide(3465,table_sum(total,none)) | 3465/(619+1782+10527+8026+3828+3465+562)
767 5/100-3/100 | 1.05-0.03
768 108/619 |
771 378/1782 | 116/1782
773 511.7/605.5 | 511.7/798.3
777 8.25/100-4.5/100 | 8.25-4.50
778 2180592-51410 | 51410-46780
784 1546-7327 | 7327-20963
787 6474102*9.1/1000000 | 6.474102*9.10
789 table_min(effectivetaxrate,none) |
790 2728290/2912456 | (2912456-2728290)/2728290
792 table_average(settlements,none) | (603+67+259)/3
793 (8.8-1.0)/1.0 | (1.0-8.8)/8.8
803 (64.8-1000000)/1.11 | 64800000/1.11
805 420.5/750.0 | 750.0/420.5
807 29/(29+4)-8/(8+2) | (29-8)/8
811 200+500+750 | 500+750
814 105/190 | 105/156
815 (236-3057)/3057 | 3057-236
816 table_average(expectedvolatility,none) | (84+73+65)/3
817 7/4.7 | 7/4700
822 203.87-161.9 | 203.87
824 table_max(tier1capital,none) |
833 1000000/100*(311.81-100) | 100000*311.81/100
834 8945694*40.85/1000000 | 766801*40.85
835 318063+110457-(60224+77901) | 318063+110457
837 85.05-81.99 | 70.1881.05
842 (214-100)/100-(236-100)/100 | 214-236
852 338501/3540009 | 253907
856 156.6/17.3-170.6/21.9 |
859 (18.1-6.3-(14.6-5.2))/(14.6-5.2) | ((18.1-14.6)/14.6)*100
862 1432/875 | (1432+350+0+875)/11257
863 127.1-70.4 | 127.1+70.4
864 (856240-911507)/911507 | 856240/856240
868 table_average(netsales,none) | (6608+6770+7092)/3
871 28663/233584 | (107061+153258+28663)/233584
872 10.6+11 | 10.6+11+11.2
878 7327-20963 | (7327-20963)/20963
882 110457/77901 | 121417/93200
884 (217692-145095)/145095-100 | (217692-145095)/145095
887 19.4+19.4+19.4 | 12.9*3
891 1.345*1000+30 | 30
892 table_min(alternativeinvestments,none) | 149
896 612.5*1000000*(4.72/100) | 612.5*0.0446
897 (1473+4218)/2 | 1473
898 40859/138930 | 4278/40859
911 546.5-516.9 |
913 705.4/703.1-1 | (705.4-703.1)/705.4
921 3.79-3.68-100 | (3.79-3.68)*100
926 1990/2655 | 199/2655
933 2/14.9 | -16.9-(-14.9)
935 13.1/100-13.0/100 | 13.1-13.0
937 424+10202 | 10.543+0.083
939 (66/100*28383-40/100*12099)/(40/100*12099) | (12099-28383)/28383
940 (184.07+174.62)/2 | 184.07174.62
948 17.0-18.9 |
950 703.1+18.2 | ((703.1+18.2)-705.4)/705.4
954 54/(52+(64+54)+19+16) | 54/75
959 table_average(protectcrackspreadvalues,none) | (1+6)/2
961 83539/1000/585.3 | (83922+71529+83539)/585300
966 127.1-70.4 | 127.1+70.4
967 203.4+(231.1+203.4)+3 | (231.1+203.4+221.1)/3
969 505+165 | 501
972 100000/100*(198.18-100) | 100000*198.18/100
973 1125734*10.91 |
978 253907/3543016 | 253907
987 2.7/(31.2+2.7) | 2.7/31.2
988 table_max(collateralposted,none) | 24296
991 40620+-18205 | 180993-18205
992 1423/59677 |
995 1410.5-1229.0-1229.0 | (1410.5-1229.0)/1229.0
999 558368-506032 | (558368-506032)/506032
1007 160.62/100 | (160.62-100)/100
1010 301-665 | 665+84-448
1011 table_sum(accumulatedothercomprehensiveloss,none) | -61.1
1016 48/7.0 | 48/7000
1017 2.6-2.6 | 2.616-2.572
1028 3474/19941 | 3543/21813
1030 4.8/212.7 | 6.25
1035 875-848 |
1042 326.5+328.4+322.4+3 | (322.4+326.5+328.4)/3
1044 9.3-8.4+8.4 | (9.3-8.4)/8.4
1047 509-707-707 | (509-707)/707
1059 (8690-7943)/7943 |
1063 433161/15973855 | (248107+433161)/1381518
1088 487-516 | 487-234
1097 2/(8.2-2) |
1103 (750+1000)/5700 | 750+1000
1105 (165172-222427)/222427 | 222427-165172
1108 574/304-1 | (574-304)/304
1110 23/2329 | 23/692
1111 (6.91-8.75)/8.75 | (8.75-6.91)/6.91
1124 56-34 | 122-56
1126 3147/5545 | 2321/4244
1131 (8.05-6.91)/6.91 | (6.91-8.05)/8.05
1133 (750+1000+750)/5700 | 750+1000+750
1141 (1917-1415)/1415 | (1917-699)/699
1145 3671500/132038 | 27.81

In [27]:
prog_correct / len(translated_programs), exec_correct / len(translated_programs)

(0.3687881429816914, 0.7567567567567568)

In [16]:
exec_correct / len(translated_programs)

0.5745422842197035

In [17]:
with open("gpt-4.json") as f:
    gpt4_responses = json.load(f)
    wrong_indices = gpt4_responses["wrong_indices"]
    gpt4_responses = gpt4_responses["responses"]

In [18]:
for i in range(len(wrong_indices)):
    responses[wrong_indices[i]] = gpt4_responses[i]

In [19]:
gen_programs = []

for response in responses:
    gen_programs.append(extract_answer(response))

In [20]:
# calculate accuracy
prog_correct = 0
exec_correct = 0

for i in range(len(translated_programs)):
    t_prog = translated_programs[i].replace(" ", "")
    g_prog = gen_programs[i].replace(" ", "")

    if t_prog == g_prog:
        prog_correct += 1

    if if_exec_correct(t_prog, g_prog):
        exec_correct += 1
    else:
        print(i, t_prog, "|", g_prog)

4 (318.46-100)/100-(206.49-100)/100 | (318.46-206.49)/206.49
5 (92710000-86842000)/86842000 | (100690000-92710000)/92710000
15 table_average(netchangefortheyear,none) | (4648+3625+1620)/3
17 (703.1+705.4+2)/2 | (705.4+703.1)/2
20 (772-843)/843 |
21 (311.81-100)/100-(198.18-100)/100 | 311.81-198.18
22 (101.88-93.21)/93.21 | (101.88-93.21)/101.88
28 0.6+0.5+4.7 | 0.5+0.6+4.7+0.6+0.2+0.2
29 3500/3081 | 3081/(150+175+2756)
32 table_max(provisionforincometaxes,none) |
34 61912-367 | 51052-367
35 168-56 | 224-56
36 165000/254000 | (254000-165000)/254000
37 166000/219000 | (219000-166000)/219000
41 (248.36-100)/100-(236.2-100)/100 | (248.36-236.20)/236.20
48 10.4/61.4*100 | 10354/61400
51 2.3/0.5 | 19.3/0.5
59 411636+439000 | (411636+439000+556000)/3
75 11.02/9.52/9.52 | (11.02-9.52)/9.52
79 207.62/97.13 | 207.62-97.13
80 207.62-97.13 | 207.62-107.76
81 37/1.4 | 37*(1-(1/1.4))
84 (1.11+1.08)/1.08 | (1.11-1.08)/1.08
92 table_average(operatingincome,none) | (762.6+808.4+895.2)/3
99 7532/180993 | 180993/158578
103 (713*42-762*41)/(762*41) | (713*42-762*42)/(762*42)
105 table_average(endingbalance,none) | (167142+466421+383221)/3
106 945.5/(1.4*1000) | 945.5/1366
108 242/(9/100) | 242/1.09
114 table_sum(worldwide,none) | (586+3057+236)/3
116 table_sum(total,none) | 619+1782+10527+8026+3828+3465+562
118 (37.79-31.16)/31.16 | 37.79-24.19
120 53818+-36528+157 | 53818-36528
122 327/184/327 | 327-184
124 ((208.14-100)/100)**(1/5)-1 | (208.14/100)**(1/5)-1
139 2098*(2098/2014) | 2098+(2098-2014)
144 5829+(187+95) | 5829-187-95
150 1336/42546 | 1336
151 100000/100*(138.29-100) | 100000*138.29/100
152 (4-3.9)/4*100 | (4000-3900)/4000
157 126+111+112 | (126+111+112)/1178
159 100/3 | 10
160 110000000+10000000 | 1939734
168 table_max(tier2capital,none) |
170 4.9*-1/3.7 | (-3.7-(-3.5))/(-3.5)
172 table_min(cashinstruments,none) | 15395
174 table_sum(otherafrica,none) | 2.605
178 table_sum(distillates,none) | (365+346+345)*1000
183 128.16/100 | (128.16-100)/100
185 (180993-118314)/118314 | 180993-158578
186 44.11-39.03 | (44.11-39.03)/39.03
189 table_average(operatingprofit,none) | (1344+1282+1018)/3
191 11*33.32-13*26.93 | (33.32-26.93)*11
192 151945*24.61 | 151945
204 (500.0-240.9)/240.9 | (250-250)/250
210 11.8/146.1 |
212 8.75/6.91*8.75 | 8.75*1.25
213 200-50 | 50200
216 41.9-4.8 | 41.9+27.5+16.1+24.4+4.8
217 5080/(45708+4800) | 5080/45708
220 table_average(totalassets,none) | (911507+938555)/2
231 (31-24)/24 | (24-31)/31
234 707-48.87 | 707*48.87
260 (-5205--1636)/-1636 | (1636-5205)/5205
263 (108.7+138.0+127.1-127.1)/127.1 | (127.1+70.4)/127.1
264 table_max(provisionforcreditlosses,none) |
265 163000/57800/163000 | (163000-57100)/163000
268 table_max(ultimatetrendrate,none) |
270 (107-66)/66 | 107/66
278 19/(63+81) | 19/(57+26+22+19+9+8+7+63+81)
280 4.6>29.0 | 4600000>2900000
281 384102+121417-(381415+65439) | 384102-381415
298 ((73+(104+61))/2+3)/2 | (104+61+73)/3
306 13.3+5.4 | 6.324+10.580
313 8/2-1 | 8-2
316 ((370.32-100)/100)**(1/5)-1 | (370.32/100)**(1/5)-1
324 (100690000-92710000)/92710000 |
328 (4.5-4.25)*400.0*1000000 | (0.045-0.0425)*400
330 7327-20963 | -12389-1743
335 table_average(initialhealthcaretrendrate,none) | (8.00+8.25+8.00)/3
339 (28.8-30.3)/30.3 | (26.2-30.3)/30.3
341 1.3/804 | 1300/804
343 (177.79-100)**(1/5-1)-1 | ((177.79/100)**(1/5))-1
347 table_sum(vestedduringtheyear,none) | 66299+153644+420050
348 60.6-100/22 | 61.018*100/22
356 2327.2/12988.7 | (2327.2/13981.9)
360 17057.4-16772.9 | (17057.4-16772.9)/16772.9
361 2.6/(35/100) | 2.6/(1-(-0.608))
362 242/(242+177947) | 242/177947
369 100000/100*(118.21-100) | 100000*118.21/100
379 32.73/(1+6/100) | 32.73*(1-0.06)
381 665-2239-2239 | (823-2397)/2397
384 2.9/900.1 | 2900/900.1
385 59.7-79.0 | 79975-59677
389 8985-11057 | (8985-11057)/11057
391 153258/86080 | (107061+153258)/86080
395 table_min(collateralposted,none) | 1817824296
399 750/500*100 | (500+750)/11664
400 35.0/100-24.4/100 | 35.0-24.4
401 7.7-19.6 |
402 63/(63+81) | 219/(219+81)
403 0.6+0.1 | 0.6+0.1+0.1
411 70/53-1 | (70-53)/53
412 table_max(foreigncurrencytranslation,none) | -61.1
424 table_sum(total,none) | 2365+2500+2538
430 46.7-38.9-38.9 | (46.7-38.9)/38.9
432 (1.6-1.2)/1.2 |
436 3671500/132038 | 3671500
441 30+1 | -23
442 9.45/(1+23/100) | 7.66
443 1.7*100/7.75 | 47.0/0.0775
446 100/40 | 3
450 8.0/100-4.7/100 | 8.00-4.70
453 100/10 | 3
459 4630/46780 | 4630/51410
460 5.5/100+70.6/100 | 70.6-5.5
461 (800+700+192)/(800+700+300) | 800+700+192
470 table_max(derivatives,none) |
472 76.0+(1.3+2)/2 | 76.0-((1.3+2.0)/2)
483 1-5687/6275 | (6275-5687)/6275
485 (1.2-2.2)/1.2 | (2200-1201)/1201
486 197/227 | 197/224
498 table_max(netderivativeliabilitiesunderbilateralagreements,none) | 35866
499 table_max(netderivativeliabilitiesunderbilateralagreements,none) | 2217627885
502 (2.2-4.1)/4.1 | 4.1-2.2
503 (195237-177947)/177947 | 195237-177947
504 64/54 | 54/64
507 829*(29/100) | 829
509 26.8/100-21.9/100 | (26.8-21.9)/21.9
517 174335/(17984+2248) | 174335/17984
525 (325.1-400.0)/400.0 | (400000-325100)/400000
528 (11589+(50131+(23596+63003))+4)/2 | 11.589+50.131+63.003+23.596
531 10/9 | 10-9
548 (104-87)/87 | (104-87)/104
553 3.87/100*(3.87/100/(2.56/100)) | 3.87+(3.87-2.56)
556 9*1000000/411636 | 40/0.411636
564 10919/(7*1000) | (-799)/7000
570 6882/70842 | 77724/70842
574 table_average(structuredcommercialloanvehicles,none) | (5.3+7.2)/2
578 209/191/191 | (209-191)/191
579 (2.6-2.2)/2.2 | 2200/2600
588 table_average(liabilities,none) | (1824+250+319)/3
594 (320-271)/271 | 367
599 126.6/70.5-1-(214.4/126.6-1) | (214.4-126.6)-(126.6-70.5)
601 5.8+6.3 | 6.3-5.8
602 74360+46961 | (7436046961)
609 53.8*5576208/1000000 |
612 table_average(endofyear,none) | (6469+6001+5441)/3
615 (109.8-1000000)/2616618 | 109800000/2616618
617 4.25/3.71-1 | 4.25-3.71
619 table_average(netsales,none) | (8630.9+7630.0+6710.4)/3
627 (7729*(21/100)-5038*(14/100))/(5038*(14/100)) | (7729-5038)/5038
628 180+291 | 291>180
631 35/100-32.9/100 | 32.9-35
632 36.3/100-32.9/100 | 36.3-32.9
633 24/15-1 | (24-15)/15
636 13.4/14.7 | 8.0/13.4
641 (119-86+86)/2 | (119-86)/86
642 177.26-151.16-151.16 | (177.26-151.16)/151.16
660 760000*1000*(7.458/100) |
666 (29.26-24.57)/24.57 | 29.26-19.78
668 1-89/99 | (99-89)/99
670 (500.0-240.9)/240.9 | (240.9-250)/250
672 2229188*100/2.5 | 2.50/100*2229188
678 259.5+0.2 | (218.8+40.7)/802.6
687 12300+17000+2800+47800 | 12300+17000+2800
706 27+37 | 27+37+14
708 (54+58+54)/3 | (13+32+31)/3
709 19733/61535 | 19733/213520
710 table_average(netunrealizedinvestmentgains,none) | (76+73+52)/3
713 (145095+(56616+217692)+3)/2 | (56616+217692+145095)/3
714 932*0.44 | 932
726 2690/18988 | 2690/28383
729 table_sum(asphalt,none) | (74+75+78)*365/1000
730 480*(27/100) | 480
734 (28114-31947)/31947 | (107551-28114)/28114
745 200*1000000*(7.375/100) | 7.375
750 43.9*1000000 | 43900000>5754000
759 (9.6-8.7)/8.7 | (9.6-8.7)/9.6
762 100.8-9.0 | 9.0
763 table_sum(developmentcostsincurredduringtheperiod,none) | 1899+2546+2786
766 divide(3465,table_sum(total,none)) | 3465/(619+1782+10527+8026+3828+3465+562)
767 5/100-3/100 | 1.05-0.03
768 108/619 |
771 378/1782 | 116/1782
773 511.7/605.5 | 511.7/798.3
777 8.25/100-4.5/100 | 8.25-4.50
778 2180592-51410 | 51410-46780
784 1546-7327 | 7327-20963
787 6474102*9.1/1000000 | 6.474102*9.10
789 table_min(effectivetaxrate,none) |
790 2728290/2912456 | (2912456-2728290)/2728290
792 table_average(settlements,none) | (603+67+259)/3
793 (8.8-1.0)/1.0 | (1.0-8.8)/8.8
803 (64.8-1000000)/1.11 | 64800000/1.11
805 420.5/750.0 | 750.0/420.5
807 29/(29+4)-8/(8+2) | (29-8)/8
811 200+500+750 | 500+750
814 105/190 | 105/156
815 (236-3057)/3057 | 3057-236
816 table_average(expectedvolatility,none) | (84+73+65)/3
817 7/4.7 | 7/4700
822 203.87-161.9 | 203.87
824 table_max(tier1capital,none) |
833 1000000/100*(311.81-100) | 100000*311.81/100
834 8945694*40.85/1000000 | 766801*40.85
835 318063+110457-(60224+77901) | 318063+110457
837 85.05-81.99 | 70.1881.05
842 (214-100)/100-(236-100)/100 | 214-236
852 338501/3540009 | 253907
856 156.6/17.3-170.6/21.9 |
859 (18.1-6.3-(14.6-5.2))/(14.6-5.2) | ((18.1-14.6)/14.6)*100
862 1432/875 | (1432+350+0+875)/11257
863 127.1-70.4 | 127.1+70.4
864 (856240-911507)/911507 | 856240/856240
868 table_average(netsales,none) | (6608+6770+7092)/3
871 28663/233584 | (107061+153258+28663)/233584
872 10.6+11 | 10.6+11+11.2
878 7327-20963 | (7327-20963)/20963
882 110457/77901 | 121417/93200
884 (217692-145095)/145095-100 | (217692-145095)/145095
887 19.4+19.4+19.4 | 12.9*3
891 1.345*1000+30 | 30
892 table_min(alternativeinvestments,none) | 149
896 612.5*1000000*(4.72/100) | 612.5*0.0446
897 (1473+4218)/2 | 1473
898 40859/138930 | 4278/40859
911 546.5-516.9 |
913 705.4/703.1-1 | (705.4-703.1)/705.4
921 3.79-3.68-100 | (3.79-3.68)*100
926 1990/2655 | 199/2655
933 2/14.9 | -16.9-(-14.9)
935 13.1/100-13.0/100 | 13.1-13.0
937 424+10202 | 10.543+0.083
939 (66/100*28383-40/100*12099)/(40/100*12099) | (12099-28383)/28383
940 (184.07+174.62)/2 | 184.07174.62
948 17.0-18.9 |
950 703.1+18.2 | ((703.1+18.2)-705.4)/705.4
954 54/(52+(64+54)+19+16) | 54/75
959 table_average(protectcrackspreadvalues,none) | (1+6)/2
961 83539/1000/585.3 | (83922+71529+83539)/585300
966 127.1-70.4 | 127.1+70.4
967 203.4+(231.1+203.4)+3 | (231.1+203.4+221.1)/3
969 505+165 | 501
972 100000/100*(198.18-100) | 100000*198.18/100
973 1125734*10.91 |
978 253907/3543016 | 253907
987 2.7/(31.2+2.7) | 2.7/31.2
988 table_max(collateralposted,none) | 24296
991 40620+-18205 | 180993-18205
992 1423/59677 |
995 1410.5-1229.0-1229.0 | (1410.5-1229.0)/1229.0
999 558368-506032 | (558368-506032)/506032
1007 160.62/100 | (160.62-100)/100
1010 301-665 | 665+84-448
1011 table_sum(accumulatedothercomprehensiveloss,none) | -61.1
1016 48/7.0 | 48/7000
1017 2.6-2.6 | 2.616-2.572
1028 3474/19941 | 3543/21813
1030 4.8/212.7 | 6.25
1035 875-848 |
1042 326.5+328.4+322.4+3 | (322.4+326.5+328.4)/3
1044 9.3-8.4+8.4 | (9.3-8.4)/8.4
1047 509-707-707 | (509-707)/707
1059 (8690-7943)/7943 |
1063 433161/15973855 | (248107+433161)/1381518
1088 487-516 | 487-234
1097 2/(8.2-2) |
1103 (750+1000)/5700 | 750+1000
1105 (165172-222427)/222427 | 222427-165172
1108 574/304-1 | (574-304)/304
1110 23/2329 | 23/692
1111 (6.91-8.75)/8.75 | (8.75-6.91)/6.91
1124 56-34 | 122-56
1126 3147/5545 | 2321/4244
1131 (8.05-6.91)/6.91 | (6.91-8.05)/8.05
1133 (750+1000+750)/5700 | 750+1000+750
1141 (1917-1415)/1415 | (1917-699)/699
1145 3671500/132038 | 27.81

In [22]:
prog_correct / len(translated_programs)

0.3687881429816914

In [115]:
system_prompt = (
                "You need to answer the user's question in the ### Question ### section.\n" \
                "You need to provide the answer in the format 'Calculate(expr)', where the expression needs to be python excutable." \
                # "You can calculate the average of a column by using the function 'Average(table_column_name)'.\n" \
                # "Similarly, you can calculate the sum, the maximum, the minimum, the count of a column by using the functions "\
                # "'Sum(table_column_name)', 'Max(table_column_name)', 'Min(table_column_name)', 'Count(table_column_name)' respectively.\n" \
                # "You only use the table's column name inside those operations\n" \
                # "For example, if the question is 'What is the sum of 1 + 2?', you need to answer 'Calc(1 + 2)'." \
                # "if the question is 'Is 123 greater than 231?', you need to answer 'Calc(123 > 231)'." \
                # "|Age|\n|---|\n|12|\n|15|\n|16|\n\n What is the average age? The answer is 'Calculate(Average(Age))'" \
                # "DO NOT give anything else other than'Calculate()'."
                )

In [137]:
item["id"]

'AMT/2016/page_49.pdf-1'

In [58]:
item = data[1010]
table_md = convert_to_markdown(item["table_ori"])
question = item["qa"]["question"]
pre_text = "\n".join(item["pre_text"])
post_text = "\n".join(item["post_text"])

user_prompt = f"### Context ###\n\n{pre_text}\n\n{table_md}\n\n{post_text}\n\n### Question ###\n\n{question}"

In [59]:
print(user_prompt)

### Context ###

american tower corporation and subsidiaries notes to consolidated financial statements 2014 ( continued ) to purchase 3924 and 911 shares , respectively .
in october 2005 , in connection with the exercise by mr .
gearon of his right to require the company to purchase his interest in atc south america , these options vested in full and were exercised .
upon exercise of these options , the holders received 4428 shares of atc south america , net of 1596 shares retained by the company to satisfy employee tax withholding obligations .
the 1596 shares retained by the company were treated as a repurchase of a minority interest in accordance with sfas no .
141 .
as a result , the company recorded a purchase price allocation adjustment of $ 5.6 million as an increase to intangible assets and a corresponding increase in minority interest as of the date of acquisition .
the holders had the right to require the company to purchase their shares of atc south america at their then fair market value six months and one day following their issuance .
in april 2006 , this repurchase right was exercised , and the company paid these holders an aggregate of $ 18.9 million in cash , which was the fair market value of their interests on the date of exercise of their repurchase right , as determined by the company 2019s board of directors with the assistance of an independent financial advisor .
12 .
impairments , net loss on sale of long-lived assets , restructuring and merger related expense the significant components reflected in impairments , net loss on sale of long-lived assets , restructuring and merger related expense in the accompanying consolidated statements of operations include the following : impairments and net loss on sale of long-lived assets 2014during the years ended december 31 , 2006 , 2005 and 2004 , the company recorded impairments and net loss on sale of long-lived assets ( primarily related to its rental and management segment ) of $ 3.0 million , $ 19.1 million and $ 22.3 million , respectively .
2022 non-core asset impairment charges 2014during the years ended december 31 , 2006 and 2005 respectively , the company recorded net losses associated with the sales of certain non-core towers and other assets , as well as impairment charges to write-down certain assets to net realizable value after an indicator of potential impairment had been identified .
as a result , the company recorded net losses and impairments of approximately $ 2.0 million , $ 16.8 million and $ 17.7 million for the years ended december 31 , 2006 , 2005 and 2004 , respectively .
the net loss for the year ended december 31 , 2006 is comprised net losses from asset sales and other impairments of $ 7.0 million , offset by gains from asset sales of $ 5.1 million .
2022 construction-in-progress impairment charges 2014for the years ended december 31 , 2006 , 2005 and 2004 , the company wrote-off approximately $ 1.0 million , $ 2.3 million and $ 4.6 million , respectively , of construction-in-progress costs , primarily associated with sites that it no longer planned to build .
restructuring expense 2014the following table displays activity with respect to the accrued restructuring liability for the years ended december 31 , 2004 , 2005 and 2006 ( in thousands ) : liability as of january 1 , expense payments liability december 31 , expense payments liability december 31 , expense payments liability december 31 .

||Liability as of January 1, 2004|2004 Expense|2004 Cash Payments|Liability as of December 31, 2004|2005 Expense|2005 Cash Payments|Liability as of December 31, 2005|2006 Expense|2006 Cash Payments|Liability as of December 31, 2006|
|---|---|---|---|---|---|---|---|---|---|---|
|Employee separations|$2,239|$823|$(2,397)|$665|$84|$(448)|$301|$(267)|$(34)|$0|
|Lease terminations and other facility closing costs|1,450|(131)|(888)|431|12|(325)|118|(10)|(108)|0|
|Total|$3,689|$692|$(3,285)|$1,096|$96|$(773)|$419|$(277)|$(142)|$0|


the accrued restructuring liability is reflected in accounts payable and accrued expenses in the accompanying consolidated balance sheets as of december 31 , 2005 .
during the year ended december 31 , 2006 , the company .

### Question ###

what is the net change in the balance of employee separations liability during 2005?

:

||Liability as of January 1, 2004|2004 Expense|2004 Cash Payments|Liability as of December 31, 2004|2005 Expense|2005 Cash Payments|Liability as of December 31, 2005|2006 Expense|2006 Cash Payments|Liability as of December 31, 2006|
|---|---|---|---|---|---|---|---|---|---|---|
|Employee separations|$2,239|$823|$(2,397)|$665|$84|$(448)|$301|$(267)|$(34)|$0|
|Lease terminations and other facility closing costs|1,450|(131)|(888)|431|12|(325)|118|(10)|(108)|0|
|Total|$3,689|$692|$(3,285)|$1,096|$96|$(773)|$419|$(277)|$(142)|$0|

In [153]:
translated_programs[79]

'207.62 / 97.13'

In [154]:
gen_programs[79]

'207.62 - 97.13'

In [155]:
print(user_prompt)

### Context ###

shareholder return performance the line graph below compares the annual percentage change in ball corporation fffds cumulative total shareholder return on its common stock with the cumulative total return of the dow jones containers & packaging index and the s&p composite 500 stock index for the five-year period ended december 31 , 2012 .
it assumes $ 100 was invested on december 31 , 2007 , and that all dividends were reinvested .
the dow jones containers & packaging index total return has been weighted by market capitalization .
total return to stockholders ( assumes $ 100 investment on 12/31/07 ) total return analysis .

||12/31/2007|12/31/2008|12/31/2009|12/31/2010|12/31/2011|12/31/2012|
|---|---|---|---|---|---|---|
|Ball Corporation|$100.00|$93.28|$117.01|$155.14|$164.09|$207.62|
|DJ US Containers & Packaging|$100.00|$61.55|$84.76|$97.78|$96.27|$107.76|
|S&P 500|$100.00|$61.51|$75.94|$85.65|$85.65|$97.13|


source : bloomberg l.p .
aecharts .

### Question ###

the five year total return for the period ending 12/31/2012 on ball corporation stock was how much greater than the same return on the s&p 500?

||Amount (In Millions)|
|---|---|
|2016 net revenue|$705.4|
|Volume/weather|(18.2)|
|Retail electric price|13.5|
|Other|2.4|
|2017 net revenue|$703.1|

In [12]:
result = {
    "model": "gpt-3.5",
    "messages": [{"role": "system", "content": system_prompt}, 
                 {"role": "user", "content": user_example1}, 
                 {"role": "assistant", "content": assistant_example1}],
    "responses": responses,
}


with open("gpt-3.5.json", "w") as f:
    json.dump(result, f, indent=4)

In [10]:
# num_cpus = 1

# ray.init(num_cpus=num_cpus)

# all_responses = []
# obj_ids = []

# for i in range(num_cpus):
#     chunk_data = data[i::num_cpus]
#     obj_id = get_responses.remote(i, chunk_data)
#     obj_ids.append(obj_id)

# for obj_id in tqdm.tqdm(obj_ids):
#     all_responses.extend(ray.get(obj_id))